.Weather-Card{
  background-color: #1e293b;
  color:rgb(204, 55, 63);
  padding: 20px;
  border-radius: 12px;
  width: 280px;
  text-align: center;
  margin: 20px auto;
}
.Weather-Card h2{
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.temp{
  font-size: 1.4rem;

}
.condition{
  text-transform: capitalize;
  margin: 10px 0;
}

.details{
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
}